<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./css/sytles.css">
    </head>
    <body>
        <div class="main">
            {{>header}}
            <h1>Help via donation</h1>
        </div>
        {{>footer}}
    </body>
</html>